.Games {
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.Games h2 {
  margin-bottom: 0rem;
  text-align: center;
  font-size: 2.5rem;
  color: #d1004d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Games p {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Games-rad {
  display: flex;
  gap: 8rem;
  justify-content: center;
  margin-top: 2rem;
}

.Games-rad a:hover img {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.Games-rad a {
  display: flex;
  gap: 0.1rem;
  flex-direction: column; /* gjør at tekst havner under Gamest */
  align-items: center;
}

.games-rad {
  display: flex;
  justify-content: center;
}


.game-preview {
  width: 300px;
  height: auto;
  aspect-ratio: 1 / 1; /* kvadratisk */
  object-fit: cover;
  display: block;
}

.Games-rad a p {
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
.game-preview {
  width: 100px;
  height: auto;
  aspect-ratio: 1 / 1; /* kvadratisk */
  object-fit: cover;
  display: block;
}
}
