.Snake {
  background-color: #b5a1a87b;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.Snake h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: #d1004d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Snake-board {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: #b5a1a87b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
